.header {
  height: 100vh;
  background-image: url("../images/background-small_opt.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    margin-bottom: 130px;
  }

  &__logo {
    margin: 0;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__link,
  &__logo-link {
    font-size: $p-mobile;
    display: inline-block;
    position: relative;
    transition-property: transform, color, font-weight;
    transition-duration: 1s;
    &::after {
      content: "";
      border-bottom: 2px solid darken($color: $light-color, $amount: 20%);
      width: 100%;
      opacity: 0;
      display: block;
      transition-property: opacity;
      transition-duration: 1s;
    }
    &:hover {
      transform: scale(1.2);
      font-weight: 700;
      color: darken($color: $light-color, $amount: 20%);
      text-shadow: 3px 5px 4px rgba(76, 33, 20, 0.85);
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &__main-title {
    color: $light-color;
    margin: 0 0 40px 0;
    text-align: center;
    font-size: $mainTitle-mobile;
  }

  &__main-description {
    color: $light-color;
    text-align: center;
    font-size: $title-mobile;
    width: 90%;
    margin: 0 auto;
  }
}

.mobile-icon {
  font-size: $p-mobile;
  margin-right: 5px;
}
.mobile-invisible {
  display: none;
}

@media (min-width: 768px) {
  .header {
    background-image: url("../images/background-min.jpeg");

    &__link {
      font-size: $p-bigScreen;
    }

    &__logo-link,
    &__icon {
      font-size: $p-bigScreen;
    }
    &__main-title {
      font-size: $mainTitle-bigScreen;
    }

    &__main-description {
      font-size: $title-bigScreen;
    }
  }
  .mobile-invisible {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .header {
    &__container {
      margin-bottom: 220px;
    }
  }
}
