$light-color: rgb(233, 222, 198);
$mainTitle-mobile: 3rem;
$title-mobile: 2.2rem;
$p-mobile: 1.4rem;
$mainTitle-bigScreen: 6.6rem;
$pSmall-bigScreen: 1.6rem;
$p-bigScreen: 1.8rem;
$title-bigScreen: 3rem;
$mainFont: "Sulphur Point", sans-serif;
$cursiveFont: "Dancing Script", cursive;
